@import '/variables.scss';

.main-content {
    background-color: $bg-lightgrey;
    max-width: 320px;
    margin: 0 auto;
}

.appointment {
    
    padding-top: 30px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

    &::after {
        content: "";
        position: absolute;
    
        width: 100%;
        max-width: 320px;

        height: 35px;

        background-color: #f8f5f2;

        clip-path: polygon(0 0, 100% 0, 50% 100%);
        z-index: 1;
    }

    &__title {
        text-align: center;

        font-size: 30px;
        line-height: 30px;

        text-transform: uppercase;
        font-weight: bold;

        color: #000000;

        margin-top: 0px;
    }

    &__form {
        width: 280px;
        margin: 0 auto;

    }

    & input {
        box-sizing: border-box;

        width: 100%;
        height: 50px;

        padding: 0 15px;
        margin-top: 5px;
        border: 1px solid #e5ddd5;

        &:hover {
            border-color: #d5c9bd;
        }

        &:focus {
            border-color: #999999;
        }

        &::placeholder {
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 18px;
            line-height: 30px;
            color: #000000;
    
        }
    }

    &__to-index {
        display: none;
    }
}

.personal-info {
    display: flex;
    flex-direction: column;
}

.contact-info {
    margin-top: 25px;
}

.additional-info {
    margin-top: 25px;

    &__textarea {

        box-sizing: border-box;
        resize: none;
        width: 100%;
        height: 110px;

        padding: 0 15px;
        padding-top: 10px;
        margin-top: 5px;

        border: 1px solid #e5ddd5;

        &:hover {
            border-color: #d5c9bd;
        }

        &::placeholder {
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 18px;
            line-height: 30px;
            color: #000000;

        }
    }
}

.beard-selector {
    padding: 0;
    border: none;

    margin-top: 30px;

    &__options {
        display: flex;
        flex-wrap: wrap;

        margin-top: 35px;
        margin-bottom: 15px;
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;

        box-sizing: border-box;

        margin-left: 24px;
        margin-right: 8px;
        margin-bottom: 30px;

        & input {
            display: none;

            &:checked + .beard-selector__custom-radio::before {
                transform: translate(-50%, -50%) scale(1);

            }

            &:checked + .beard-selector__custom-radio:active::before {
                background-color: #d5c9bd;
            }
        }
    }

    &__legend {
        font-size: 20px;
        line-height: 27px;
        
        text-transform: uppercase;
        text-align: center;
    }

    &__custom-radio {
        display: inline-block;

        width: 50px; /* Размер кнопки */
        height: 50px; /* Размер кнопки */

        border-radius: 50%; /* Делаем круг */
        border: 1px solid #efeae4; /* Цвет рамки */

        background-color: #ffffff; /* Фоновый цвет */

        position: relative;
        cursor: pointer;

        margin-bottom: 10px;
        
        &:hover {
            border: 1px solid #d5c9bd;

            &::before {
                border: 1px solid #d5c9bd;
            }
        }

        &:active {
            background-color: #d5c9bd;

            &::before {
                transform: translate(-50%, -50%) scale(1);

                background-color: #ffffff;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px; /* Размер внутреннего круга */
            height: 18px; /* Размер внутреннего круга */
            border-radius: 50%; /* Делаем круг */
            border: 1px solid #efeae4;
            background-color: #ffffff; /* Цвет внутреннего круга */
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.2s ease;

        }
    }

    &__name {
        text-transform: lowercase;

        margin-bottom: 10px;
    }

    &__icon {
        width: 64px;
        height: 105px;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;

        &--admiral {
            background-image: url(/image/png/beard-1.png);

            width: 52px;
            height: 49px;
        }

        &--lumberjack {
            background-image: url(/image/png/beard-2.png);

            width: 58px;
            height: 68px;
        }

        &--polar-explorer {
            background-image: url(/image/png/beard-3.png);

            width: 64px;
            height: 78px;
        }

        &--nobleman {
            background-image: url(/image/png/beard-4.png);

            width: 58px;
            height: 98px;
        }

        &--sage {
            background-image: url(/image/png/beard-5.png);

            width: 46px;
            height: 105px;
        }
    }
}

.services {
    padding: 0;

    border: none;

    &__legend {
        font-size: 20px;
        line-height: 27px;

        text-transform: uppercase;
        text-align: center;

        margin-bottom: 35px;
    }

    &__checkbox {
        display: flex;
        align-items: center;

        cursor: pointer;

        margin-bottom: 25px;

        font-size: 18px;
        line-height: 30px;

        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        & input:checked ~ .services__checkbox--icon::after {
            opacity: 1;
        }

        & input:checked ~ .services__checkbox--icon:active::after {
            opacity: 0;
        }

        &--icon {
            width: 35px;
            height: 35px;

            border: 1px solid #e5ddd5;
            background-color: #ffffff;

            display: inline-block;

            margin-right: 25px;
            
            position: relative;
            transition: background-color 0.3s ease;

            &:hover {
                border: 1px solid #d5c9bd;
            }

            &:active {
                background-color: #d5c9bd;

                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 4px;
                left: 13px;
                width: 7px;
                height: 20px;
                border: solid #000000;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
    }
}

.button-submit {
    width: 280px;
    height: 50px;

    margin: 0px auto;
    margin-top: 25px;
    margin-bottom: 40px;

    color: #ffffff;
    border: none;
    background-color: #826550;

    font-size: 18px;
    line-height: 24px;

    text-transform: uppercase;
    font-weight: bold;

    cursor: pointer;

    &:hover {
        background-color: #6a4d38;
    }

    &:active {
        color: #a09187;
    }

}

input.error {
    border-color: red;
}

@media (min-width: $tablet-width) {
    .main-content {
        max-width: 100%;
    }

    .appointment {
        width: 84%;
        max-width: 968px;
        margin: 0 auto;

        font-size: 24px;
        line-height: 24px;

        padding-top: 85px;

        &::after {
            display: none;
        }

        & input {
            margin-top: 0;

            font-size: 24px;
            line-height: 30px;

            &::placeholder {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &__form {
            width: 100%;
        }

        &__title-wrapper {
            display: flex;
            justify-content: space-between;

            margin-bottom: 65px;
        }

        &__to-index {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;

            width: 160px;
            height: 50px;

            border: 1px solid #e5ddd5;
            
            color: #000000;
        }

        &__title {
            display: flex;
            align-content: center;
            flex-wrap: wrap;

            margin: 0;

            font-size: 40px;
        }
    }

    .personal-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__wrapper {
            width: 100%;

            box-sizing: border-box;
        }
    }

    .contact-info {

        &__wrapper {
            margin-top: 35px;
        }

        &__input {
            margin: 0;
        }
    }

    .additional-info {
        margin-top: 35px;

        &__textarea {
            margin: 0;

            height: 200px;

            &::placeholder {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    .beard-selector {
        margin-top: 50px;

        &__legend {
            font-size: 30px;
            line-height: 30px;

            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;

            width: 100%;

            &::before,
            &::after {
                content: '';

                flex-grow: 1;
                height: 1px; /* Толщина линии */
                width: 135px;
                background-color: #e5ddd5;
            }

            &::before {
                margin-right: 25px;
            }

            &::after {
                margin-left: 25px;
            }
        }

        &__options {
            justify-content: space-between;

            margin-top: 45px;
        }

        &__option{
            margin-left: 10px;
        }
    }

    .services {
        &__option {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__legend {
            font-size: 30px;
            line-height: 30px;

            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            
            width: 100%;

            &::before,
            &::after {
                content: '';

                flex-grow: 1;
                height: 1px; /* Толщина линии */
                width: 135px;
                background-color: #e5ddd5;
            }

            &::before {
                margin-right: 25px;
            }

            &::after {
                margin-left: 25px;
            }
        }

        &__checkbox {
            width: 320px;

            font-size: 24px;
            line-height: 30px;

            margin-bottom: 50px;
        }
    }

    .button-submit {
        width: 100%;
        height: 70px;

        font-size: 24px;
        line-height: 30px;

        margin-top: 10px;
        margin-bottom: 80px;
    }

    .box1{
        order: 1;
    }

    .box2{
        order: 4;
    }

    .box3{
        order: 2;
    }

    .box4{
        order: 5;
    }

    .box5{
        order: 3;
    }

    .box6{
        order: 6;
    }
}

@media (min-width: $desktop-width) {

    .appointment {
        padding-top: 115px;

        & input {
            height: 70px;
        }
    }

    .personal-info {
        &__wrapper {
            max-width: 295px;
        }
    }

    .contact-info {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;

        &__wrapper {
            width: 460px;
            margin: 0;
        }
    }

    .additional-info {
        height: 210px;
    }

    .beard-selector {
        margin-top: 60px;

        &__options {
            margin-bottom: 25px;
        }

        &__legend {
            &::before {
                margin-right: 25px;
            }

            &::after {
                margin-left: 25px;
            }
        }
    }


    .services {
        &__legend {
            margin-bottom: 65px;

            &::before {
                margin-right: 30px;
            }

            &::after {
                margin-left: 30px;
            }
        }
    }
}

