@import '/variables.scss';

.page-header {
    display: flex;
    flex-direction: column;
}

.page-header__logo {
    height: 85px;

    text-align: center;
}

.page-header__logo img {
    width: 226px;
    height: 85px;
}

@media (min-width: $tablet-width) {
    .page-header {
        background-color: #000000;
    }
    .page-header__logo {
        order: 2;

        width: 100%;
        height: 400px;

        background-color: #000000;
        background-image: url(../image/jpg/bg-header.jpg);
        background-repeat: no-repeat;
        background-position: center -9px;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url(../image/jpg/bg-header.jpg);
            background-size: 1338px auto;
        }
    }

    .page-header__logo--form-bg {
        height: 175px;

        position: relative;

        background-image: url(../image/jpg/backform-tablet@1x.jpg);
        background-position: center;
        background-size: cover;

        &::after {
            content: '';
            position: absolute;
            bottom: -40px; /* Смещение вниз для создания треугольника */
            left: 0;
            width: 100%;
            height: 40px; /* Высота треугольника */
            background-image: inherit; /* Наследуем фоновое изображение */
            background-size: cover;
            background-position: center top;
            clip-path: polygon(50% 100%, 0 0, 100% 0); /* Создание треугольной формы */
        }
    }

    .page-header__logo img {
        display: block;

        width: 370px;
        height: auto;
        
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media (min-width: $desktop-width) {
    .page-header__logo {
        height: 648px;

        background-position: center 0;
        background-size: cover;
    }

    .page-header__logo img {
        margin-top: 57px;
    }

    .page-header__logo--form-bg {
        height: 240px;

        position: relative;

        background-image: url(../image/jpg/back-desktop.jpg);
        background-position: center;
        background-size: cover;

        &::after {
            content: '';
            position: absolute;
            bottom: -65px; /* Смещение вниз для создания треугольника */
            left: 0;
            width: 100%;
            height: 65px; /* Высота треугольника */
            background-image: inherit; /* Наследуем фоновое изображение */
            background-size: cover;
            background-position: center top;
            clip-path: polygon(50% 100%, 0 0, 100% 0); /* Создание треугольной формы */

        }

    }
}

