@import '/variables.scss';

.page-footer{
    width: 320px;
    margin: 0 auto;
    border: 1px solid #353535;
    padding-bottom: 60px;

    &__wrapper {
        padding-top: 65px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-size: 18px;
    }

}

.contacts {
    &__text{
        margin: 0;
        margin-top: 10px;
    }

    &__phone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 280px;
        height: 50px;

        margin: 0 auto;
        margin-top: 20px;

        text-decoration: none;
        color: #ffffff;


        border: 1px solid #3e3e3e;
    }

    &__phone-mobile {
        display: none;

    }
}

.social {
    &__title {
        display: none;
    }

    &__list {
        list-style: none;

        margin: 0;
        margin-top: 27px;
        padding: 0;

        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 100px;
        width: auto;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #353535;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    
    text-align: center;

    color: #ffffff;

    &__text {
        margin-top: 30px;
    }

    &__link {
        text-decoration: none;

        width: 280px;
        height: 50px;

        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;

        border: 1px solid #353535;
    }
}

@media (min-width: $tablet-width) {
    .page-footer {
        width: 100%;
        
        background-color: #292929;

        &__wrapper {
            width: 84%;
            max-width: 968px;
            margin: 0 auto;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            flex-wrap: wrap;

        }

        &__contacts {
            order: 1;
            text-align: left;
            width: auto;
            margin: 0;
            flex: 1; // Занимает пространство по левому краю
        }

        &__copyright {
            order: 2;
            text-align: right;
            width: auto;
            margin: 0;
            flex: 1; // Занимает пространство по правому краю
        }

        &__social {
            order: 3;
            text-align: center;
            width: 100%;
            margin: 20px 0 0;
        }

    }

    .copyright {
        &__link {
            width: 160px;
            margin-right: 0;
        }

        &__text {
            margin-right: 40px;
            margin-top: 0;
        }
    }

    .br {
        display: none;
    }

    .contacts {
        &__phone {
            flex-direction: row;
            justify-content: flex-start;

            border: none;
            margin: 0;
        }

        &__phone-mobile {
            display: block;
            margin-right: 2px;
        }
    }
}

@media (min-width: $desktop-width) {
    .page-footer {
        max-width: 100%;

        &__wrapper {
            flex-wrap: nowrap;
            width: 960px;
        }

        &__social {
            order: 2;
            width: 162px;
        }

        &__copyright {
            order: 3;
        }
    }

    .social {

        margin-top: 0;

        &__title {
            display: block;
        }

        &__list {
            margin-top: 10px;
        }

        &__item {
            width: 49px;
            height: 49px;
            flex: none;
        }

        &__link .vk-icon {
            width: 15px;
            height: 17px;
        }

        &__link .fb-icon {
            width: 10px;
            height: 21px;
        }

        &__link .insta-icon {
            width: 19px;
            height: 19px;
        }

    }

    .contacts {
        &__phone {
            height: auto;
        }
    }

}
