@import '/variables.scss';

.rewiews {
    padding-top: 30px;
    color: #000000;
    text-align: center;

    width: 320px;
    margin: 0 auto;

    background-color: #ffffff;

    color: #000000;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -35px;
        left: 0;
        width: 100%;
        height: 35px;
        background-color: #ffffff;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        z-index: 1;
    }

    &__list {
        display: flex;
        transition: transform 0.5s ease-in-out;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: flex;

        position: relative;
        overflow: hidden;

        margin: 0;
    }

    &__wrapper {
        position: relative;
        overflow: hidden;
        text-align: left;
    }

    &__toggles {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 10px;
        
        .slider2__toggle {
            width: 8px;
            height: 8px;

            font-size: 0;

            margin: 15px 12px;
            padding: 0;

            background-color: transparent;
            border: 1px solid #000000;
            cursor: pointer;
            outline: none;

            transform: rotate(45deg);

            &.active {
                background-color: #000000;
            }
        }
    }

    &__title {
        margin: 0;

        text-align: center;

        font-size: 30px;
        line-height: 30px;

        text-transform: uppercase;
    }

    &__write {
        display: none;
    }

    &__description {
        font-size: 16px;
        line-height: 1.5;
    }

    &__prev,
    &__next {
        display: none;
    }

    &__author-name {
        font-size: 24px;
        line-height: 27px;

        font-weight: bold;
        font-style: normal;

        text-align: left;

    }

    &__author-picture {
        padding-right: 20px;
        margin: 0;
        margin-top: 10px;
    }

    &__text {
        margin: 0;
        margin-top: 10px;

        font-size: 18px;
        line-height: 27px;
    }
        
}

.slider2 {
    &__wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    &__item {
        min-width: 100%;
        box-sizing: border-box;
        padding: 20px;
        padding-bottom: 0;
    }
}

@media (min-width: $tablet-width) {
    
    .rewiews {
        width: 100%;
        margin: 0 auto;
        padding-top: 38px;

        &::before {
            display: none;
        }

        &__write {
            display: block;
        }

        &__title {
            font-size: 40px;
            line-height: 30px;
        }

        &__title--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 84%;

            margin: 0 auto;

            padding-bottom: 38px;
        }

        &__prev,
        &__next {
            position: absolute;

            top: 0;

            width: 50px;
            height: 100%;

            background-color: #ffffff;
            border: 1px solid #e5ddd5;
            cursor: pointer;
            z-index: 1;
            font-size: 0;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__prev {
            left: 0;
        }

        &__next {
            right: 0;
        }

        &__author-picture {
            padding-right: 30px;
        }

        &__author-image {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }

    .button2 {
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: 0;
    
        width: 160px;
        height: 50px;
    
        border: 1px solid #e5ddd5;
    
        text-decoration: none;
        color: #000000;
    
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;

        &:hover {
            border-color: #d5c9bd;
        }

        &:active {
            background-color: #d5c9bd;

            color: #a99f95;
        }
    }

    .slider2 {

        position: relative;
        width: calc(96% - 100px); /* 100px для кнопок по бокам */
        max-width: 84%;
        margin: 0 auto;
        overflow: hidden;

        &__wrapper {
            display: flex;

            width: 84%;
            margin: 0 auto;
        }

        &__item {
            padding: 20px 90px;

            border: 1px solid #e5ddd5;
            border-bottom:none ;

            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px; /* Border thickness */
                background-color: #e5ddd5; /* Border color */
                width: calc(50% - 63px); /* (126px / 2) = 63px */
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }
        
        &__toggles {
            margin-top: -20px;
            padding-bottom: 50px;
        }
    }
    
}

@media (min-width: $desktop-width) {
    .rewiews {
        max-width: 1200px;
        
        &__title--wrapper {
            width: 960px;
        }

        &__title {
            padding-left: 70px;
        }

        &__prev,
        &__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 100%;
            background-color: #ffffff;
            border: 1px solid #e5ddd5;
            cursor: pointer;
            z-index: 2;
            font-size: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__author-picture {
            margin: 0;
            margin-right: 65px;

            padding: 0;

            line-height: 0;

        }

        &__author-image {
            
            width: 260px;
            height: 166px;
            border-radius: 0%;
            
        }

    }

    .slider2 {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        position: relative;

        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &__list {
            display: flex;
            transition: transform 0.3s ease;
            width: 100%;
            max-width: 860px;
            margin: 0 50px; /* Отступы слева и справа для кнопок */
            overflow: hidden;
        }

        &__item {
            
            display: flex;
            align-items: center;

            min-width: 820px;
            margin: 0 70px;
            padding: 0;
            border-bottom: 1px solid #e5ddd5;
           
            &::before,
            &::after {
                display: none;
            }
        }
        
        &__toggles {
            margin-top: 45px;
            text-align: center;
        }

    }

    .author {
        &__wrapper {
            margin-right: 45px;
        }
    }
}

